
/*-- scss:defaults --*/

// colors
$dim-text:   #777777;
$dim-color:  #404040;
$mygrey-000: #1c1c1c;
$mygrey-010: #222222;
$mygrey-020: #282828;
$mygrey-030: #333333;
$mygrey-040: #444444;
$mygrey-050: #555555;
$mygrey-060: #666666;
$mygrey-070: #777777;
$mygrey-080: #888888;
$mygrey-090: #999999;
$mygrey-100: #b8b8b8;
$mygrey-999: #f8f8f8;

$myred:    #FF5252;
$myorange: #FD971F;
$myyellow: #FFFF00;
$mygreen:  #63FF5b;
$myblue:   #00CCFF;
$mypurple: #AE81FF;
$mypink:   #FF67FF;

$green-text: #66BB6A;
$red-text: #FF5252;
$blue-text: #29B6F6;

$body-bg: #1c1c1c;
$dim-text: #666666;
$body-color: #bdbdbd;

$link-color: #42affa;
$italic-color: #89DDFF;
$strong-color: #FFFFFF;

$interactive-accent-hsl: #FFFF00;
$text-selection: hsla(var($interactive-accent-hsl), 0.25);

$selection-bg: rgba(255, 255, 0, 0.5);
$selection-color: #1c1c1c;

// fonts
$font-family-sans-serif: "IBM Plex Sans", "Source Sans Pro", "Inter", Open Sans, Helvetica, sans-serif !default;
$font-family-monospace: "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


// line height
$presentation-font-family-line-height: 1.0em !default;
$presentation-line-height: 1.0em !default;

// headings
$heading-color: #efefef;
$presentation-h1-font-size: 1.5em !default;
$presentation-h2-font-size: 1.33em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h4-font-size: 1.1em !default;
$presentation-h5-font-size: 1.05em !default;
$presentation-h6-font-size: 1.0em !default;
$presentation-heading-color: $heading-color !default;
// headings
// $presentation-heading-line-height: 1.0em !default;
$presentation-heading-font-weight: 600 !default;
$presentation-h1-text-shadow: none !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-text-transform: none !default;
$presentation-heading-letter-spacing: normal !default;
$presentation-heading-font: IBM Plex Sans Condensed, Open Sans, Playfair Display, Helvetica, sans-serif, $font-family-sans-serif !default;

// links
$link-color: #42affa !default;
$link-color-hover: $mypink !default;
$dark-bg-link-color: #42affa !default;

// code blocks
// $code-block-border-color: lighten($body-color, 60%) !default;
// $dark-bg-code-color: #E599F7 !default;
$dark-bg-code-color: #ff67ff !default;
$code-block-bg: $body-bg !default;
$code-block-border-color: #222222 !default;
$code-block-font-size: 0.75em !default;

// inline code
// $code-color: var(--quarto-hl-fu-color) !default;
$code-color: $dark-bg-code-color !default;
$code-bg: transparent !default;

// tabset
// $tabset-border-color: $code-block-border-color !default;

$presentation-font-size-root: 30px !default;

$algcolor: #F783AC !default;
$algicon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6 178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0 249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 168.4 153.5V153.5z"/></svg>') !default;
$algbg: #1c1c1c !default;


/*-- scss:rules --*/

.reveal .slide aside .aside-footnotes {
  margin-bottom: 1em;
}

.reveal .slide aside .aside-footnotes li:first-of-type {
  margin-top: 0;
}

.reveal .slide aside,
.reveal .slide aside .aside-footnotes
.reveal .slide div.aside {
    position: absolute;
    bottom: auto;
    margin-bottom: 1em;
    font-size: 0.7em;
    color: $dim-text;
}

.reveal .slide sup {
    font-size: 0.7em;
}

.reveal .slide.scrollable aside,.reveal .slide.scrollable div.aside {
    position: relative;
    margin-top: 1em
}

.reveal .slide aside .aside-footnotes {
    margin-bottom: 1em;
}

.reveal .slide aside .aside-footnotes li:first-of-type {
    margin-top: 0
}

// .reveal strong,.reveal b {
//     font-weight: bold;
//     // color: $strong-color;
// }

.reveal em {
    font-style: italic;
    color: $italic-color;
}

.reveal .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{colorToRGB($link-color)}" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
}

.reveal .callout.callout-style-simple {
    padding: 0em 0.5em;
    border-left: solid #acacac .3rem;
    border-right: solid 1px silver;
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    display: flex;
    box-shadow: #000000 0px 0px 5px 10px;
}

.reveal .rcard{
    text-shadow: 0px 0px 10px RGBA(0, 0, 0.45);
        background-color: rgba(22,22,22,0.33);
        border-radius: 10px;
        text-align: center;
        box-shadow: RGBA(0, 0, 0, 0.45) 0px 5px 15px;
        text-align: center;
}

.reveal .callout.callout-style-simple .callout-body,
.reveal .callout.callout-style-default .callout-body,
.reveal .callout.callout-style-simple div.callout-caption,
.reveal .callout.callout-style-default div.callout-caption {
  font-size: inherit;
}

.reveal .callout.callout-style-default .callout-icon::before,
.reveal .callout.callout-style-simple .callout-icon::before {
  height: 2rem;
  width: 2rem;
  background-size: 2rem 2rem;
}

.reveal .callout.callout-captioned .callout-caption p {
  margin-top: 0.5em;
}

.reveal .callout.callout-captioned .callout-icon::before {
  margin-top: 1rem;
}

.reveal
  .callout.callout-captioned
  .callout-body
  > .callout-content
  > :last-child {
  margin-bottom: 1rem;
}

.reveal .callout.callout-titled .callout-icon::before {
    margin-top: unset!important;
}

.reveal .green-text {
    color: $green-text;
}

.reveal .yellow-text {
    color: $myyellow;
}

.reveal .red-text {
    color: $red-text;
}

.reveal .dim-text {
    color: $dim-text;
}

.reveal .purple-text {
    color: $mypurple;
}

.reveal .blue-text {
    color: $myblue;
}

.reveal .pink-text {
    color: $mypink;
}

.reveal .note-green {
    padding: 1pt 1pt 1pt 1pt;
    border:1px solid #66BB6A;
    border-radius:8px;
    box-shadow: RGBA(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#202020;
    max-width: min-content;
    min-width: max-content;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

.reveal .callout.callout-style-default div.callout-title{
    font-size: 1.0em!important;
}
.callout-title {
    font-size:1.0em!important;
}

.reveal .callout-caution {
    border: 1px solid #E599F7!important;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: var(--r-block-margin) auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255,255,255,.05);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2)
}

.reveal blockquote p:first-child,.reveal blockquote p:last-child {
    display: inline-block
}

